graph {
  font-family: 'Oswald', Georgia, sans-serif;
}

.axis path, .axis line {
        fill: none;
        stroke:black ;
        shape-rendering: auto;
      }
      .axis text {
        font-family: 'Oswald', Georgia, sans-serif;
        font-size: 14px;
      }
       #tooltip {
        position: fixed;
        text-align: center;
        width: 40px;
        height: auto;
        padding: 10px;
        background-color: white;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        pointer-events: none;
      }
       

      #tooltip.hidden {
        display: none;
      }
      #tooltip p {
        margin: 0;
        font-family: sans-serif;
        font-size: 11px;
        line-height: 20px;
      }
    
      .legend-row {
        height: 40px;
      }
    
      .legend-element {
        width:10px;
        height:20px;
        float: left;
      }
  
.col-sm-4 {
  display:inline-block;
  margin-left: 50px;
}