@import 'https://fonts.googleapis.com/css?family=Inconsolata:400,700|Noto+Sans';
html {
    font-size: 100%;
}

body {
    font-family: 'Noto Sans', serif;
    font-size: 1.2rem;
    color: white;
    background-color: rgba(0, 0, 0, .8);
}

#header {}

h1 {
    font-family: 'Inconsolata';
    text-transform: uppercase;
    margin-bottom: 20px
}

.content-wrapper {
    max-width: 900px;
    margin: 0 auto;
}

#titulo {
    font-size: 50px;
    font-weight: 700;
    margin: 40px 30px 10px 30px;
}

#subtitulo {
    font-size: 22px;
    font-family: 'Inconsolata';
    margin: 0px 30px 20px 30px;
    font-weight: 300;
}

#intro {
    font-size: 16px;
    margin: 0px 30px 10px 30px;
    max-width: 800px;
}

#note {
    font: 1.6em 'Inconsolata';
    margin: 0px 30px 10px 30px;
    max-width: 800px;
    font-weight: 700;
}

#chart {
    text-align: center;
}

#creditoum {
    margin: 0px 30px 20px 30px;
    font: 16px 'Inconsolata';
    text-transform: uppercase
}

#creditodois {
    font-size: 14px;
    margin: 10px 30px 5px 30px;
}

#sources {
    font-size: 1.2em;
    max-width: 300px;
    margin: 15px 30px 5px 30px;
    font-weight: 300;
    padding-bottom: 20px;
}

p {
    line-height: 1.6em;
}

a,
a:link,
a:visited,
a:active {
    text-decoration: underline;
    color: white;
}

a:hover {
    background-color: #faa61a;
}

.cem {
    font-family: 'Inconsolata';
    color: #faa61a;
}

.linha {
    border-bottom: 1px solid #cbcbcb;
    max-width: 740px;
    margin: 20px 30px 20px 30px;
}

#logo {
    float: right;
    max-width: 90px;
    margin: 10px 20px;
}


/* Lista menu */

ul {
    padding: 0;
}

.legenda li {
    margin: 0;
    padding: 10px;
    display: inline-block;
    font: 1.3em 'Inconsolata';
    text-transform: uppercase;
    margin-right: 10px;
    color: #fff;
    background-color: #faa61a;
}

li:hover {
    background-color: #ababab;
}


/*--- chart ---*/

.name-title {
    font-family: 'Noto Sans';
    font-size: 2rem;
    fill: #fff;
    cursor: default;
    text-anchor: middle;
}

.value-title {
    text-anchor: middle;
    font-size: 1.8rem;
    fill: #cbcbcb;
}

.descript {
    text-anchor: middle;
    font-size: 1.3rem;
    font-family: 'Inconsolata';
    fill: #fff;
    /*	font-weight: 300;*/
}

.inner-label {
    font-family: 'Inconsolata';
    font-size: 1.7rem;
    fill: #fff;
    cursor: default;
}

.inner-label:hover {
    font-size: 1.9rem;
}

.outer-label {
    font-family: 'Inconsolata';
    font-size: 1.4rem;
    fill: #fff;
    cursor: default;
}

.outer-label-value {
    font-size: 1rem;
    font-family: 'Inconsolata';
    fill: #cbcbcb;
}


/* Dropdown Button */

.dropbtn {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding: 16px;
    font-size: 22px;
    border: none;
    cursor: pointer;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ccc;
    min-width: 160px;
    font: 18px 'Inconsolata';
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #f1f1f1
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    background-color: #a7000c;
}


/*Responsivo*/

@media screen and (max-width: 720px) {
    #chart {
        width: 100%;
    }
    #logo {
        width: 70px;
    }
    .legenda li {
        display: block;
        margin-bottom: 10px;
        margin-bottom: 1px solid black;
    }
    #creditoum {
        line-height: 2em;
    }
    #header {
        margin: 0 20px;
    }
}