@import 'https://fonts.googleapis.com/css?family=Inconsolata:400,700|Noto+Sans';
html {
    font-size: 100%;
}

body {
    font-family: 'Noto Sans', serif;
    font-size: 1.2rem;
    color: white;
    background-color: rgba(0, 0, 0, .7);
}

h1 {
    font-family: 'Inconsolata';
    text-transform: uppercase;
    margin-bottom: 20px
}

.content-wrapper {
    max-width: 900px;
    margin: 0 auto;
}

#titulo {
    font-size: 50px;
    font-weight: 700;
    margin: 40px 30px 10px 30px;
}

#subtitulo {
    font-size: 22px;
    font-family: 'Inconsolata';
    margin: 0px 30px 20px 30px;
    font-weight: 300;
}

#intro {
    font-size: 16px;
    margin: 0px 30px 10px 30px;
    max-width: 800px;
}

#note {
    font-size: 14px;
    margin: 0px 30px 10px 30px;
    max-width: 800px;
    font-weight: 300;
}

#chart {
    text-align: center;
}

#creditoum {
    margin: 0px 30px 20px 30px;
    font: 16px 'Inconsolata';
    text-transform: uppercase
}

#creditodois {
    font-size: 14px;
    margin: 10px 30px 5px 30px;
}

#sources {
    font-size: 1.2em;
    max-width: 300px;
    margin: 15px 30px 5px 30px;
    font-weight: 300;
    padding-bottom: 20px;
}

a:hover {
    text-decoration: none;
    border-bottom: 1px solid #cbcbcb;
}

a,
a:link,
a:visited,
a:active {
    text-decoration: none;
    color: white;
    border-bottom: 2px solid rgba(167, 0, 44, 1);
}

.cem {
    font-family: 'Inconsolata';
    color: #ababab;
}

#linha {
    border-bottom: 1px solid #cbcbcb;
    max-width: 740px;
    margin: 20px 30px 20px 30px;
}


/* Lista menu */

ul {
    padding: 0;
}

.legenda li {
    margin: 0;
    padding: 10px;
    display: inline-block;
    font-size: 1em;
    margin-right: 10px;
}

li:hover{
    background-color: #cbcbcb;
}

#graficos {
    color: #fff;
    background-color: #000
}

#repercussoes {
    background-color: rgba(112, 193, 179, 0.4)
}

#dados {
    background-color: rgba(29, 53, 87, .4)
}

#ltempo {
    background-color: rgba(250, 166, 26, .4)
}


/*--- chart ---*/

.name-title {
    font-family: 'Noto Sans';
    font-size: 3rem;
    fill: #fff;
    cursor: default;
    text-anchor: middle;
}

.value-title {
    text-anchor: middle;
    font-size: 2rem;
    fill: #cbcbcb;
}

.character-note {
    text-anchor: middle;
    font-size: 1.4rem;
    font-family: 'Inconsolata';
    fill: #fff;
    /*	font-weight: 300;*/
}

.inner-label {
    font-family: 'Inconsolata';
    font-size: 1.7rem;
    fill: #fff;
    cursor: default;
}

.inner-label:hover {
    font-size: 2rem;
}

.outer-label {
    font-family: 'Inconsolata';
    font-size: 1.4rem;
    fill: #fff;
    cursor: default;
}

.outer-label-value {
    font-size: 1.3rem;
    font-family: 'Inconsolata';
    fill: #cbcbcb;
}