@import 'https://fonts.googleapis.com/css?family=Inconsolata:400,700|Merriweather:400,700';

body {
    font-family: 'Merriweather', serif;
    font-size: 1rem;
    color: #1e1e1e;
    letter-spacing: .5px;
    background-color: #ededed;
    margin: 0;
    padding: 0;
    z-index: 1999;
}

#header {
    background-color: #a7000c;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
}

h1 {
    font-family: 'Merriweather';
    text-transform: uppercase;
    margin-bottom: 20px
}

h3, h2 {
    font-family: 'Inconsolata';
    font-size: 1.4em
}

h5 {
    margin-top: 0px;
    font-size: 12px;
}

.social{
    margin-top: 30px; 
}

.content-wrapper {
    max-width: 900px;
    margin: 0 auto;
}

#titulo {
    font-size: 2.8em;
    font-weight: 700;
    margin: 40px 30px 30px 30px;
}

#subtitulo {
    font-size: 2em;
    font-family: 'Inconsolata';
    margin: 30px auto;
    max-width: 700px;
    font-weight: 300;
    
}

.intro {
    font-size: 16px;
    margin: 0px 30px 10px 30px;
    max-width: 800px;
}

#note {
    font: 1.2em 'Inconsolata';
    margin: 0px 30px 10px 30px;
    max-width: 800px;
    font-weight: 300;
}

#chart {
    text-align: center;
}

.creditoum {
    margin: 0px 30px 10px 30px;
}

#creditodois {
    font-size: 14px;
    margin: 10px 30px 5px 30px;
}

#menuin{
    margin: 0 auto;
    font-size: 16px;
    margin: 60px;
    text-align: center
}

#perma{
    border: 1px solid #cbcbcb;
    padding: 3px;
    color: #cbcbcb
}

.alerta {
    width: 100%;
    position: absolute
}

.sources {
    font-size: 1.2em;
    max-width: 300px;
    margin: 15px 30px 5px 30px;
    font-weight: 300;
}

p {
    line-height: 1.6em;
    margin-bottom: 25px;
}

strong{
    color: #000
}

a,
a:link,
a:visited,
a:active {
    text-decoration: underline;
    color: #faa61a ;
}

a:hover {
    color: #a7000c
}

.cem {
    font-family: 'Merriweather';
    color: #faa61a;
}

.linha {
    border-bottom: 1px solid #cbcbcb;
    max-width: 100%;
    margin: 60px 0px 40px;
}

#logo {
    float: right;
    max-width: 90px;
    margin: 10px 20px;
}

.middle {
    background-color: #cbcbcb;
    font-size: .8em;
    color: #000;
    padding: 20px 20px 40px;
    position: relative;
    margin: 20px 30px 20px -120px;
    float: left;
    max-width: 400px;
    line-height: 1.7em
}

.middle a{
    color: #666;
}

.banner {
    padding-top: 0px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center
}

.way_head{
    text-align: center;
}

/* Lista menu */

ul {
    padding: 0;
    line-height: 1.7em;
}

ol {
    line-height: 1.7em;
}

.legenda li {
    margin: 0;
    padding: 10px;
    display: inline-block;
    font: 1em 'Merriweather';
    text-transform: capitalize;
    margin-right: 10px;
    color: #fff;
    background-color: #faa61a;
}

.legenda a{
    color: white;
    text-decoration: none;
}

.legenda a:hover{
    background-color: #ababab;
}

.item_legenda:hover {
    background-color: #ababab;
}


/*--- chart ---*/

.name-title {
    font-family: 'Merriweather';
    font-size: 1.7rem;
    fill: #1e1e1e;
    cursor: default;
    text-anchor: middle;
}

.value-title {
    text-anchor: middle;
    font-size: 1.5rem;
    fill: #faa61a;
}

.descript {
    text-anchor: middle;
    font-size: 1.3rem;
    font-family: 'Merriweather';
    fill: #1e1e1e;
    /*	font-weight: 300;*/
}

.inner-label {
    font-family: 'Merriweather';
    font-size: 1.4rem;
    fill: #1e1e1e;
    cursor: default;
}

.inner-label:hover {
    font-size: 1.7rem;
}

.outer-label {
    font-family: 'Merriweather';
    font-size: 1.4rem;
    fill: #1e1e1e;
    cursor: default;
}

.outer-label-value {
    font-size: 1rem;
    font-family: 'Merriweather';
    fill: #faa61a;
}


/* Dropdown Button */

.dropbtn {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding: 16px;
    font-size: 22px;
    border: none;
    cursor: pointer;
}


/* Menu */

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ccc;
    min-width: 160px;
    font: 18px 'Inconsolata';
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #f1f1f1
}


/* Menu hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* Menu background */

.dropdown:hover .dropbtn {
    background-color: #a7000c;
}


/*Responsivo*/

@media screen and (max-width:1080px) {
    #chart {
        width: 100%;
    }
    #logo {
        width: 70px;
    }
    .legenda li {
        display: block;
        margin-bottom: 10px;
        margin-bottom: 1px solid black;
    }
    .creditoum {
        line-height: 2em;
    }
    #subtitulo{
        margin: 30px 3%;
    }
    .middle {
    background-color: #cbcbcb;
    margin: 20px auto;
        max-width: 100%; 
        width: 95%;
        position:relative
    }
    #grafdois{
           height: 680px; 
        }
    #header{
        position: relative;
    }
    #perma{
        display: none;
    }
    
}